<section class="headline-content ion-items-center">
  
  <ion-title>

    <ion-text class="ion-text-wrap">
      Software development
    </ion-text>
    
  </ion-title>

</section>

<section>
  <article>
    <ion-title>

        Custom software services
      
    </ion-title>
    <ion-label class="text-label big70">
      
      
      <ion-text class="ion-text-wrap">
        We can help with both a new project and an already existing one.
      </ion-text>
    </ion-label>
    
    <ion-list class="fancy-list normal">
      
      <app-fancy-card *ngFor="let element of fancyCards" [props]="element" [type]=""></app-fancy-card>

    </ion-list>
  </article>
</section>