section {
    padding: 0 40px;

    
    
    article {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 40px 0;

        .text-label {
            padding: 48px;
            border-radius: 25px;
        }

        ion-text {

            line-height: 1.6;
            font-size: 22px;
            width: 100%;
        }



    }
}

.fancy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 33, 105, 0.7);
    border-radius: 25px;
    contain: none;
    
    
    @media (min-width: 768px) {

        display: grid;
        align-items: flex-start;
        grid-template-columns: 50% 50%;
        
    }
    @media (min-width: 1023px) {

        justify-content: space-evenly;
        
        display: grid;
        align-items: flex-start;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 50% 50%;
        
    }

}

ion-title {

    padding: 40px 0;

}

ion-title {

    text-align: center;
    
    @media (min-width: 1023px) {
        width: 50%;
        
    }

    color: #fff;
    
    ion-text {
            
        color: #fff;
    }
}


.big70 {
    @media (min-width: 1023px) {
        
        width: 70%;
    }
}