section {
    padding: 0 40px;
}

.fancy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 33, 105, 0.7);
    border-radius: 25px;
    contain: none;
    
    
    @media (min-width: 600px) {

        display: grid;
        align-items: flex-start;
        grid-template-columns: 50% 50%;
        
    }
    @media (min-width: 1023px) {

        justify-content: space-evenly;
        
        display: grid;
        align-items: flex-start;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 50% 50%;
        
    }

}