

<ion-header [translucent]="true">
    
  <app-header-page></app-header-page>

</ion-header>


<ion-content [fullscreen]="true">

    
  <section class="dashboard">
      
    <ion-item class="item-img">
      <img src="/assets/login.png" />
    </ion-item>
    
    <app-login></app-login>

    <app-register></app-register>

    <ion-item class="item-img">
      <img src="/assets/register.png" />
    </ion-item>
  </section>

  
  <ion-footer>
    <ion-item>

    </ion-item>
  </ion-footer>
</ion-content>

