.isAbsolute {
    position: absolute;
}
.label {

    padding: 1px;
    margin: 0;
    width: max-content;

    display: flex;
    justify-content: flex-end;
    width: 200px;

    @media (min-width: 1023px) {

        top: 40px;
        right: 40px;
    }


    @media (min-width: 768px) {

        width: 250px;
    }
    @media (min-width: 1023px) {

        width: 250px;
    }

    ion-label {

        width: 160px;
        min-height: 42px;
        outline: 3px solid #012169;
        border-radius: 25px;
        margin: 0;
        z-index: 10;
        background-color: #012169;

        text-align: center;

        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.45s;
        cursor: pointer;
        width: max-content;
        padding: 0 25px;
        column-gap: 15px;

        @media (min-width: 1023px) {

            width: 250px;
            min-height: 50px;
        }

        ion-text {
            
            
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            color: #fff;
            
            padding: 7.5px 0;


            @media (min-width: 1023px) {

                font-size: 16px;
            }
        }

        &:active {

            ion-text {
            
                position: relative;
                top: 2px;
                color: green;
    
            }
            @media (max-width: 1023px) {
    
                outline: 3px solid #012169;
            }
        }

        
    }

    
    &:hover ion-label {

        @media (min-width: 1023px) {

            width: 200px;
            outline: 3px solid #012169;
            background: transparent;

            ion-text {
                color: #012169;
            }
        }
        
    }

    
    

}