<section class="headline-content ion-items-center">
  
  <ion-title>

    <ion-text>
      Overview
    </ion-text>
    
  </ion-title>

</section>

<section>
  <article>
    <ion-title>
        Learning & Knowledge Sharing
      
    </ion-title>

      <ion-list class="icons ion-items-center">
        <ion-card>
          <ion-card-body>
            <ion-label class="large-icon"><img src="https://www.pinclipart.com/picdir/big/221-2213428_clothes-images-clip-art.png" /></ion-label>
          </ion-card-body>
        </ion-card>
        <ion-card>
          <ion-card-body>
            <ion-icon name="logo-github" class="large-icon" size="large"></ion-icon>
          </ion-card-body>
        </ion-card>
      </ion-list>

        <ion-text class="ion-text-wrap">
          We learn by practice being active on popular platforms by implementing solutions and describing the process of software development
        </ion-text>
        


  </article>
  <article>
    <ion-title>
        Full Stack Development
      
      
    </ion-title>

        <ion-text class="ion-text-wrap">
          In cooperation with us, you can count on us with a full range of services related to your product
        </ion-text>

      <ion-list>
        <ion-label>
          <ion-icon name="logo-react"></ion-icon>
          <ion-text>React</ion-text>
        </ion-label>
        <ion-label>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-text>Angular</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>NodeJS</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>Django</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>Angular</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>Angular</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>Angular</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>Angular</ion-text>
        </ion-label>
        
      </ion-list>

      <ion-text>
        We care about the efficiency of the implemented software, therefore we can manage the state of the application with custom tools
      </ion-text>

      
      <ion-list>
        <ion-label>
          <ion-icon name="logo-react"></ion-icon>
          <ion-text>React</ion-text>
        </ion-label>
        <ion-label>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-text>Angular</ion-text>
        </ion-label>
        <ion-label>
          <img src="/assets/icon/nodejs.png" alt="nodejs" />
          <ion-text>NodeJS</ion-text>
        </ion-label>
        
      </ion-list>

  </article>
</section>