<section class="headline-content ion-items-center">
  
  <ion-title>

    <ion-text>
      Overview
    </ion-text>
    
  </ion-title>

</section>

<section>
  <article>
    
    <app-statistic-table></app-statistic-table>

    <ion-title>
        Learning & Knowledge Sharing
      
    </ion-title>
      <ion-list class="icons ion-items-center">
        <ion-card>
          <ion-card-content>
            <ion-label class="large-icon"><img src="https://www.pinclipart.com/picdir/big/221-2213428_clothes-images-clip-art.png" /></ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-icon name="logo-github" class="large-icon" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-label class="text-label big70">
        <ion-text class="ion-text-wrap">
          We learn by practice being active on popular platforms by implementing solutions and describing the process of software development
        </ion-text>
      </ion-label>
        


  </article>
  <article>
    <ion-title>
        Full Stack Development
      
      
    </ion-title>
    <div lines="none" class="from-col-row ion-items-center">
      <ion-label class="text-label half-page">
        <ion-text class="ion-text-wrap">
          In cooperation with us, you can count on us with <span class="primary extra-bold">a full range of services</span> related to your product
        </ion-text>
      </ion-label>
      <ion-list class="half-page right icons-group">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                <ion-icon name="logo-react"></ion-icon>
                <ion-text>React</ion-text>
              </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-text>Angular</ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <img src="/assets/icon/nodejs.png" alt="nodejs" />
              <ion-text>NodeJS</ion-text>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <img src="/assets/icon/django.png" alt="django" />
              <ion-text>Django</ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <img src="/assets/icon/mysql.svg" alt="mysql" />
              <ion-text>MySQL</ion-text>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <img src="/assets/icon/postgresql.svg" alt="postgresql" />
              <ion-text>PostgreSQL</ion-text>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <img src="/assets/icon/mongodb.svg" alt="mongodb" />
              <ion-text>MongoDB</ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-list>
      </div>
      <ion-label class="text-label right big70">
        <ion-text class="ion-text-wrap">
          We care about <span class="primary extra-bold">the efficiency of the implemented software</span>, therefore we can manage the state of the application with custom tools
        </ion-text>
      </ion-label>

      
      <ion-list class="half-page left icons-group">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                <img src="/assets/icon/ngrx.svg" alt="mongodb" />
                <ion-text>NgRx</ion-text>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                <img src="/assets/icon/redux.svg" alt="mongodb" />
                <ion-text>Redux</ion-text>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                <ion-icon name="logo-react"></ion-icon>
                <ion-text>Context</ion-text>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-list>

  </article>
</section>