
section {
    padding: 0 40px;


    article {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 40px 0;

        ion-text {

            line-height: 1.6;
            font-size: 22px;
            width: 100%;
        }

        ion-list {
            padding: 0 !important;
        }

        ion-title {

            text-align: center;
            
            @media (min-width: 1023px) {
                width: 50%;
                
            }
        }

        &:nth-child(2) ion-title {

            @media (min-width: 1023px) {
                margin-left: auto;
                
            }
        }

        
    }
}

ion-title {

    padding: 40px 0;

}


.icons {

    width: 100%;
    flex-direction: row;
    gap: 48px;
    
    
    flex-wrap: wrap;

    ion-card {
        padding: 30px;
        width: max-content;
    
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(26, 32, 44, 0.5);
            border-radius: 50%;
            z-index: 2;
        }
    }

}


.large-icon
{
    width: 220px;
    height: 220px !important;
    position: relative;
    img {
        width: 220px;
        height: 220px;
    }

}

