
section {
    padding: 0 40px;
    
    max-width: 1920px !important;
    margin-left: auto;
    margin-right: auto;

    article {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 40px 0;

        ion-grid {
            width: 100%;
        }

        ion-text {

            line-height: 1.6;
            font-size: 22px;
            width: 100%;
        }
        .text-label {
            padding: 48px;
            border-radius: 25px;
        }

        ion-list {
            padding: 0 !important;
        }

        ion-title {

            text-align: center;
            
            @media (min-width: 1023px) {
                width: 50%;
                
            }
        }

        

        &:nth-child(2) ion-title {

            @media (min-width: 1023px) {
                margin-left: auto;
                
            }
        }

        
    }
}

ion-title {

    padding: 40px 0;

}


.icons {

    width: 100%;
    flex-direction: row;
    gap: 48px;
    
    
    flex-wrap: wrap;

    ion-card {
        padding: 30px;
        width: max-content;
    
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(26, 32, 44, 0.5);
            border-radius: 50%;
            z-index: 2;
        }
    }

}


.large-icon
{
    width: 220px;
    height: 220px !important;
    position: relative;
    img {
        width: 220px;
        height: 220px;
    }

}

.half-page {
    @media (min-width: 768px) {
        
        width: 50%;
    }
}

.big70 {
    @media (min-width: 768px) {
        
        width: 70%;
    }
}

.right {

    @media (min-width: 768px) {
        
        margin-left: auto;
    }
}
.left {

    @media (min-width: 768px) {
        
        margin-right: auto;
    }
    
}
ion-col {
    width: 100%;
}

.icons-group {
    ion-grid {
        display: grid;
        row-gap: 102px;
    }
    ion-col {

        width: max-content !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    ion-label {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: max-content !important;
        
        
        img {
            height: 96px;
        }
        ion-icon {
            width: 96px;
            height: 96px;
        }
        svg {
            height: 96px;
        }
    }

}

.from-col-row {
    @media (max-width: 768px) {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    @media (min-width: 768px) {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
