<form>
  <h2>Create Account</h2>
  <ion-label>
    <ion-text>
      Company
    </ion-text>
    <ion-input></ion-input>
  </ion-label>
  <ion-label>
    <ion-text>
      E-mail address
    </ion-text>
    <ion-input></ion-input>
  </ion-label>
  <ion-label>
    <ion-text>
      Password
    </ion-text>
    <ion-input></ion-input>
  </ion-label>
  <ion-label>
    <ion-text>
      Confirm Password
    </ion-text>
    <ion-input></ion-input>
  </ion-label>
  <ion-item lines="none">
    
    <ion-button slot="end" class="extra-bold">
      Register
    </ion-button>
  </ion-item>
</form>