<ion-card>
  <ion-card-header>
    <ion-title class="ion-text-center primary extra-bold extra-font">
      NiVest mobile
    </ion-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title color="primary"><strong class="secondary">9</strong> users</ion-title>
          <ion-text>Discover how huge is the network</ion-text>
        </ion-col>
        <ion-col>
          <ion-title color="primary"><strong class="secondary">10</strong> projects</ion-title>
          <ion-text>Check out the investment opportunities</ion-text>
        </ion-col>
        <ion-col>
          <ion-title color="primary"><strong class="secondary">11</strong> transactions</ion-title>
          <ion-text>See how many user interactions appear</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>