ion-title {
    padding: 0;

    color: #fff;

    ion-text {
        color: #fff;
    }
}

.right {

    @media (min-width: 768px) {
        
        margin-left: auto;
    }
}
.left {

    @media (min-width: 768px) {
        
        margin-right: auto;
    }

}

.helf-page {
    @media (min-width: 1023px) {
        
        width: 50% !important;
    }
}

ion-card {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

ion-col {
    padding: 40px 20px;
}