

<ion-header [translucent]="true">
    
  <app-header-page [elements]="fancyCards"></app-header-page>

</ion-header>

<ion-content [fullscreen]="true">

<section class="dashboard">


  <app-circular-button></app-circular-button>
  <button [routerLink]="'/login'">login</button>

  <ion-list class="dashboard__welcome">

    <ion-title class="weight-bold brand-title">
      <ion-text color="primary">Ni</ion-text>
      
      <ion-text color="secondary">Vest Software</ion-text>
    </ion-title>
    <ion-toolbar>

      <!-- <ion-text class="weight-bold">We provide custom software <br/> by architecting interactive cross-platform applications</ion-text> -->

      <ion-text>
        Bespoke software development
      </ion-text>

    </ion-toolbar>
  
  </ion-list>
  
  <ion-list class="icon-list">
  
    <app-icon-group *ngFor="let element of iconsDashboard" [props]="element"></app-icon-group>

  </ion-list>
  <!-- <ion-list class="dashboard__welcome"> -->
    <!-- <ion-label>
      <div class="ion-items-vertical-center">Angular</div>
      <ion-icon size="large" name="logo-angular"></ion-icon>
    </ion-label>
    <ion-label>
      <div class="ion-items-vertical-center">React</div>
      <ion-icon size="large" name="logo-react"></ion-icon>
    </ion-label>
    <ion-label>
      <div class="ion-items-vertical-center">JavaScript</div>
      <ion-icon size="large" name="logo-javascript"></ion-icon>
    </ion-label>
    <ion-label>
      <div class="ion-items-vertical-center">NodeJS</div>
      <ion-icon size="large" name="logo-nodejs"></ion-icon>
    </ion-label>
    <ion-label>
      <div class="ion-items-vertical-center">Python</div>
      <ion-icon size="large" name="logo-python"></ion-icon>
    </ion-label> -->
  <!-- </ion-list> -->
</section>

<section class="slider">
      <div class="slide">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Websites
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Bespoke software development
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Mobile app
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Bespoke software development
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="slide">
        
      </div>
</section>

<section class="headline-content ion-items-center">
  <ion-text>
    Discover what you came here for
  </ion-text>
</section>

<section>
  <ion-list class="fancy-list fancy">
    
    <app-fancy-card *ngFor="let element of fancyCards" (click)="scroll(element.selector)" [props]="element" type="fancy"></app-fancy-card>

  </ion-list>

  <ion-list class="card-list ion-items-center fancy">

    <app-sub-fancy-card *ngFor="let element of fancyCards" [props]="element" type="fancy"></app-sub-fancy-card>
  
  </ion-list>

</section>

<app-overview></app-overview>

<app-software-development></app-software-development>

<app-nivest-for-education></app-nivest-for-education>

<app-insider></app-insider>

<section class="ion-items-center">
  <ion-card>
    <ion-item>
      <ion-text>
        <a href = "mailto: mikey.nivest@gmail.com">mikey.nivest@gmail.com</a>
      </ion-text>
    </ion-item>
  </ion-card>
</section>



<ion-footer>
  <ion-item>

  </ion-item>
</ion-footer>
  
</ion-content>

