

<ion-header [translucent]="true">
    <ion-item>

    </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

<section class="dashboard">
  <ion-list class="dashboard__welcome ion-items-vertical-end">
    <ion-item lines="none">
      <ion-title class="weight-bold brand-title">

        <ion-text color="primary">Ni</ion-text>
        
        <ion-text color="secondary">Vest Software</ion-text>

      </ion-title>
    </ion-item>
    <ion-item lines="none" class="weight-bold">

        <ion-text>We provide custom software</ion-text>

    </ion-item>


    
  </ion-list>
</section>
<section class="headline-content ion-items-center">
  <ion-text>
    Discover what you came here for
  </ion-text>
</section>
<section>
  <ion-list class="fancy-list">
    
    <app-fancy-card *ngFor="let element of fancyCards" [props]="element"></app-fancy-card>

  </ion-list>
</section>

<section class="headline-content ion-items-center">
  
  <ion-title>
    <ion-text>
      Overview
    </ion-text>
    
  </ion-title>

</section>

<section class="ion-items-center">
  <ion-card>
    <ion-item>
      <ion-text>
        <a href = "mailto: mikey.nivest@gmail.com">mikey.nivest@gmail.com</a>
      </ion-text>
    </ion-item>
  </ion-card>
</section>



<ion-footer>
  <ion-item>

  </ion-item>
</ion-footer>
  
</ion-content>

