

.dashboard
{
  height: calc(100vh - 60px);
  

  &__welcome {
    min-height: 40vh;
  }

  ion-title {
    font-size: 2em;
    font-weight: 600;
  }

  .brand-title {
    font-size: 3em;
  }

}

.fancy-list
{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #ccc;
}


  