
ion-header {

  ion-item {
    cursor: pointer;

    width: max-content;
  }
}

.dashboard
{
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  
  .icon-list {
    contain: none;
    position: relative;
    width: 50%;
    height: 100%;
  }

  &__welcome {
    width: max-content;
    background-color: none;
    border-radius: 15px;
    contain: none;
    margin-bottom: 20px;
    padding: 20px !important;

    
    .brand-title {
      margin-bottom: 20px;
    }

    @media (min-width: 1023px) {

      &:nth-of-type(2) {
        display: block;
        margin-left: auto;
      }
      ion-label {
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;

          &:hover div {
            display: flex;
            position: absolute;
            left: -100px;
            height: 28px;
            width: max-content;
          }

        
      }
    }
    

    
  }

  ion-text {
    width: 100%;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    text-align: left;
    font-size: 24px;

    @media (min-width: 1023px) {

      font-size: 2em;
    }
  }
  
  ion-title {
    width: 100%;

    padding: 0;
    height: auto;
    width: 100%;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    text-align: justify;
    
    font-size: 1.9em;

    @media (min-width: 1023px) {

      font-size: 1.5em;
    }
  }

}

.dashboard {
  animation: pulse 0.7s ease-in;
}
 
@keyframes pulse {
  0% {
    background-color: #3880ff;
  }
  50% {
    background-color: #012169;
  }
  100% {
    background-color: #fff;
  }
}

.fancy-list
{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #012169;
  display: none;
  
  @media (min-width: 768px) {

    display: grid;
    align-items: flex-start;
    grid-template-columns: 50% 50%;
    
  }  
  @media (min-width: 1023px) {

    display: grid;
    align-items: flex-start;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 57.5px auto;
  }
}


.content {
  width: 100%;
  min-height: 100vh;

}


.card-list {

  row-gap: 30px;
  padding: 20px;
  width: 100vw;

  @media (min-width: 768px) {
    display: none;
  }

}
