

.dashboard
{
  height: calc(100vh - 60px);
  
  &__welcome {
    min-height: 80vh;
  }

  ion-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1.5em;
    line-height: 1.6;
    font-family: Verdana, sans-serif;
  }

  .brand-title {
    font-size: 3em;
  }

}

.fancy-list
{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

.headline-content
{
  min-height: 20vh;

  ion-text {
    
    font-size: 25px;
    font-weight: 600;
    font-family: Verdana, sans-serif;
  }
}