<form [formGroup]="_loginForm" (ngSubmit)="login()">
  <h2>Login</h2>
  <ion-label for="email">
    <ion-text>
      E-mail address or ID
    </ion-text>
    <ion-input formControlName="email" type="text"></ion-input>
  </ion-label>
  <ion-label for="password">
    <ion-text>
      Password
    </ion-text>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-label>
  <ion-item lines="none">
    
    <ion-button type="submit" slot="end" class="extra-bold">
      Log in
    </ion-button>
  </ion-item>
</form>