<ion-card>
  <ion-card-header>
    <ion-label class="picture">
      <img src="/assets/Mikolaj.png" />
    </ion-label>
    <ion-text class="extra-bold">
      Mikolaj Prus
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    
    <ion-label>
      <ion-text color="primary" class="extra-bold">
        - Software engineer -
      </ion-text>
    </ion-label>

    <ion-label>
      <ion-text class="medium-bold">
        <a href="mailto:mikey.prus@gmail.com">mikey.prus@gmail.com</a>
      </ion-text>
    </ion-label>

    <ion-label>
      <ion-text class="medium-bold">
        +48 602 398 933
      </ion-text>
    </ion-label>

    <ion-label>
      <ion-button class="extra-bold">
        Read more
      </ion-button>
    </ion-label>

  </ion-card-content>
</ion-card>