<ion-header [translucent]="true">
  
  <app-header-page [elements]="fancyCards"></app-header-page>

</ion-header>

<ion-content>
  <section class="dashboard ion-items-center">
    <h1>
      NiVest Software
    </h1>
    <h3>
      Investment platform
    </h3>
    <p>
      www.platform.com
    </p>
  </section>
  <section class="headline-content ion-items-center">
  
    <ion-title>
  
      <ion-text>
        Welcome back, NiVest Software
      </ion-text>
      
    </ion-title>
  
  </section>

</ion-content>
