<ion-header [translucent]="true">
  
  <app-header-page [elements]="fancyCards"></app-header-page>

</ion-header>

<ion-content>
  <section class="dashboard ion-items-center">
    <ion-card class="user-headline left half-page">
      <ion-card-header>
        <ion-text class="extra-bold">
          NiVest Software
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Investment platform
        </ion-text>
      </ion-card-content>
    </ion-card>
    
    <!-- <ion-item class="left">
      <ion-text>
        www.platform.com
      </ion-text>
    </ion-item> -->

  </section>
  <section class="headline-content ion-items-center">
  
    <ion-title>
  
      <ion-text>
        Welcome back, NiVest Software
      </ion-text>
      
    </ion-title>
  
  </section>

</ion-content>
