
section {
    padding: 0 40px;
}

article {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin: 40px 0;

    ion-text {

        line-height: 1.6;
        font-size: 22px;
        width: 100%;
    }

    ion-card, .card-ios, .card-md {
        box-shadow: none !important;
    }
    
    
    ion-card-content {
        
        display: flex;
        flex-direction: column;

    }

}

ion-card {
    width: 100%;
    min-height: 20vh;
}


.fancy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 33, 105, 0.7);
    border-radius: 25px;
    contain: none;

    @media (min-width: 600px) {

        display: grid;
        align-items: flex-start;
        grid-template-columns: 50% 50%;
        
    }

}

.right {

    @media (min-width: 768px) {
        
        margin-left: auto;
    }
}
.left {

    @media (min-width: 768px) {
        
        margin-right: auto;
    }
    
}
.half-page {
    @media (min-width: 1023px) {
        
        width: 50%;
    }
}
.big70 {
    @media (min-width: 768px) {
        
        width: 70%;
    }
}