<section class="headline-content ion-items-center">
  
  <ion-title>

    <ion-text class="ion-text-wrap">
      NiVest for Education
    </ion-text>
    
  </ion-title>

</section>

<section>

  <article>
    <ion-card>
      
      <ion-item>
        <ion-title>
          Quick sort
        </ion-title>
      </ion-item>
      <ion-item>
        Continuously divide the list into two parts and moving the lower items to one side and the higher items to the other.
      </ion-item>

    </ion-card>

    <ion-card>
      
      <ion-item>
        <ion-title>
          Binary search tree
        </ion-title>
      </ion-item>
      <ion-item>
        Each node has at most two children, which are referred to as the left child and the right child.
      </ion-item>

    </ion-card>
  </article>
</section>