
section {
    padding: 0 40px;
}

article {
    display: flex;
    gap: 40px;
    flex-direction: column;
    
    margin: 40px 0;

    ion-text {

        line-height: 1.6;
        font-size: 22px;
        width: 100%;
    }

    ion-card, .card-ios, .card-md {
        box-shadow: none !important;
    }
    
    
    ion-card-content {
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        gap: 40px;

        @media (max-width: 768px) {
        
            display: flex;
            flex-direction: column;
        }

    }

    

}

ion-card {
    width: 100%;
    min-height: 50vh;
}


.right {

    @media (min-width: 768px) {
        
        margin-left: auto;
    }
}
.left {

    @media (min-width: 768px) {
        
        margin-right: auto;
    }
    
}

.half-page {
    @media (min-width: 768px) {
        
        width: 50%;
    }
}