<section class="headline-content ion-items-center">
  
  <ion-title>

    <ion-text class="ion-text-wrap">
      NiVest for Education
    </ion-text>
    
  </ion-title>

</section>

<section>

  <article>
    <ion-card>
      <ion-card-header>
          <ion-title class="half-page right ion-text-center">
            Quick sort
          </ion-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="book-outline" size="large"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-text>
            Continuously divide the list into two parts and moving the lower items to one side and the higher items to the other.
          </ion-text>
        </ion-item>
        <ion-item lines="none">
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="book-outline" size="large"></ion-icon>
        </ion-item>
      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-card-header>
          <ion-title class="half-page left ion-text-center">
            Binary search tree
          </ion-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item lines="none">
          <ion-text>
            Each tree node has at most two children, which are referred to as the left child and the right child.
          </ion-text>
        </ion-item>
        <ion-item lines="none">
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="book-outline" size="large"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="book-outline" size="large"></ion-icon>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </article>
</section>